body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-image: url("image/3.png"); /* 设置背景图 */
    background-size: cover; /* 让背景图片覆盖整个屏幕 */
    background-position: center; /* 背景图居中显示 */
    background-repeat: no-repeat; /* 防止图片重复 */
    background-attachment: fixed; /* 使背景图固定 */
    height: 100vh; /* 让背景图覆盖整个视口 */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* 确保文字颜色可见 */
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 让 main 占满整个屏幕高度 */
    text-align: center;
}

.centered-img {
    max-width: 100%; /* 控制最大宽度 */
    height: auto; /* 保持比例 */
}
body {
    font-family: 'Poppins', sans-serif; /* 默认使用 Poppins */
    font-weight: 400; /* 设置默认字体粗细 */
    font-size: 18px; /* 设置字体大小 */
    line-height: 1.6; /* 行间距优化可读性 */
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Outfit', sans-serif; /* 让 h1 使用 Outfit */
    font-weight: 700; /* 使标题加粗 */
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* 占满整个视口宽度 */
    padding: 0 10px; /* 给标题一些内边距，避免紧贴屏幕边缘 */
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0); /* 确保文字颜色可见 */
    z-index: 10; /* 确保标题位于其他内容之上 */
    height: 50px;
    padding: 0;
    gap: 4px; /* 控制元素间距 */
}

.header .title {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.header .medium, .header .large {
    font-size: 20px;
    font-weight: 500;
    flex: 1;
}

.content {
    display: flex;
    justify-content: space-between; /* 让文字在两端排列 */
    align-items: center;
    width: 100vw; /* 让它占满整个视口宽度 */
    padding: 0.1vw; /* 添加左右边距，避免文字紧贴屏幕 */
}

/* 三段文字样式 */
.text {
    text-align: center;
}

.small {
    font-size: 14px;
    font-weight: 300;
    max-width: 30%; /* 控制长度，换行到两行 */
    text-align: left; 
}

.medium {
    font-size: 20px;
    font-weight: 500;
    flex: 4;
}

.large {
    font-size: 48px;
    font-weight: 700;
    flex: 4;
}
.link {
    text-decoration: none; /* 去掉默认下划线 */
    color: inherit; /* 让链接颜色继承自父元素，即与其他文字颜色一致 */
    font-family: inherit; /* 让字体继承自父元素 */
    font-weight: inherit; /* 继承父元素的字体粗细 */
    font-size: inherit; /* 继承父元素的字体大小 */
}

.link:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}
.medium:first-of-type {
    color: black;
}
.hidden-audio {
    width: 0;
    height: 0;
    border: none;
    visibility: hidden;
    position: absolute;
}
#progress-bar-container {
    width: 100%;  /* 进度条容器占满整个屏幕宽度 */
    height: 10px; /* 进度条高度 */
    background-color: #ccc; /* 背景色为灰色 */
    position: fixed;
    bottom: 0;
    left: 0;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background-color: black; /* 进度部分为黑色 */
}
.header div {
    margin: 0 10px; /* 控制标题间距 */
}